* {
  background-color: #282a36;
  color: aliceblue;
}

button {
  background-color: aliceblue;
  color: #282a36;
  font-weight: 900;
  font-size: medium;
  padding: 1%;
  border-radius: 6px;
  cursor: pointer;
}

#title {
  margin-top: 15%;
  margin-bottom: 5%;
}

#logar {
  margin-right: 1%;
}

#api {
  margin-left: 1%;
}


#message{
  margin-top: 1%;
}